.header {
  font-family: "Poppins", sans-serif;
  width: 1280px;
  height: 720px;
  background-image: url("../img/home/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: white;
  .head {
    padding-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    span {
      font-size: 33.8px;
    }
    ul {
      justify-content: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      text-decoration: none;
      cursor: pointer;
      list-style: none;
      padding: 0;
      margin: 0;
      li:hover {
        font-weight: bold;
      }
    }
    .ulhead {
      @media screen and (max-width: 900px) {
        display: none;
        }
    }
    .country {
      @include flex;
      gap: 8px;
      span {
        font-size: 16px;
        font-weight: bold;
        margin-top: 2px;
      }
    }
  }
  .exp {
    width: 100%;
    @include flex;
  }
  .explore {
    margin-top: 110px;
    text-align: center;
    width: 770px;
    p:nth-child(1) {
      font-size: 48px;
      font-weight: bold;
      line-height: 60px;
    }
    p:nth-child(2) {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
.inpt {
  @include flex;
}
.input {
  padding-left: 10px;
  max-width: 1000px;
  margin-top: 145px;
  @include flex;
  position: relative;
  @media screen and (max-width: 898px) {
      gap: 5px;
      // bottom: 125px;
  }
  @media screen and (max-width: 445px) {
    gap: 5px;
    bottom: 125px;
  }
  .loc {
    display: flex;
  }
  .location {
    background-color: white;
    width: 20px;
    height: 62px;
    @include flex;
    padding-left: 5px;
    }
  .line {
    background-color: rgb(132, 119, 119);
    width: 2px;
    height: 45px;
    position: absolute;
    margin-top: 9px;
    @media screen and (max-width: 898px) {
      display: none;
      }
  }
  .uppercase {
    text-transform: uppercase;
  }

  .btn {
    margin-right: 7px;
    display: block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    // width: clamp(12.5rem, 11.932rem + 2.84vw, 14.063rem);
    // font-size: clamp(0.625rem, 0.557rem + 0.34vw, 0.813rem);
    // @media screen and (max-width: 780px) {
    //   display: none;
    //   }
    img {
      margin-left: 12px;
      width: 15px;
    }
    &--primary {
      background: #43b97f;
      color: $button-text-color;
      border-radius: 15px;
      padding: 12px 36px;

      &:hover {
        background: darken($button-bg-color, 4%);
      }

      &:active {
        background: $button-bg-color;
        box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
      }
    }
    &--inside {
      margin-left: -220px;
      @media screen and (max-width: 740px) {
        margin-left: 0px;
      }
    }
  }

  .form {
    &__field {
      width: clamp(9.375rem, 3.693rem + 28.41vw, 21.875rem);
      background-color: white;
      color: rgb(23, 22, 22);
      font: inherit;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      border: 0;
      outline: 0;
      padding: 22px 18px;
      @media screen and (max-width: 445px) {
        width: 200px;
      }
    }
  }
  .forms {
    &__fields {
      border-radius: 1px;
      width: clamp(9.375rem, 6.875rem + 12.5vw, 13.125rem);
      height: 18.4px;
      background-color: white;
      color: rgb(23, 22, 22);
      font: inherit;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      border: 0;
      outline: 0;

      padding: 22px 18px;      
      @media screen and (max-width: 445px) {
        width: 200px;
        margin-left: 5px;
      }
    }
  }
  .formz {
    &__fieldz {
      width: clamp(9.375rem, 6.534rem + 14.2vw, 15.625rem);
      background-color: white;
      color: rgb(23, 22, 22);
      font: inherit;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      border: 0;
      outline: 0;
      padding: 22px 18px;
      
      @media screen and (max-width: 445px) {
        width: 175px;
      }
    }
  }
  .knopka {
    @include flex;
    background-color: white;
    @media screen and (max-width: 740px) {
      background-color: rgba(255, 255, 255, 0);
      display: grid;
      gap: 5px;
      justify-items: center;
      .btn {
        width: 230px;
      }
    }
  }
}


.hamburger-menu {
  padding-bottom: 20px;
  position: relative;
  // background-color: blue;
  @media screen and (min-width: 900px) {
    display: none;

  } 

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
  // margin-left: -500px;

}
.menu__btn {
  // position: fixed;
  top: 20px;
  left: 200px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  transition-duration: .25s;
  
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
  
}
.menu__box {
  position: absolute;
  display: flex;
  top: 50px;
  left: -340px;
  width: 300px;
  height: 220px;
  margin: 0;
  padding: 30px 0;
  list-style: none;
  background-color: #e1d3d3;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  border-radius: 25px;
}
.menu__item {
  display: block;
  padding: 0;
  color: #3D3E48;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;  

}
.menu__item:hover {
  color: #43b97f;  
}
li {
  display: grid;
  grid-template-columns: 1fr 0fr;
  overflow: hidden;
  justify-content: center;
  margin-top: 10px;
  padding: 0;
  width: 100px;
  height: 30px;
}
}







