.travel {
    font-family: 'Poppins', sans-serif;

    @include flex;
    width: 1280px;
    height: 100%;
    // background-color: blue;
    .imgtravel {
        position: relative;
        width: clamp(20rem, 12.955rem + 35.23vw, 39.375rem);
        height: clamp(21.25rem, 16.705rem + 19.39vw, 31.25rem);
        display: flex;
        margin-top: 60px;
        img {
            border-radius: 90px;
            border: 10px solid;
            border-color: white;
            position: absolute;
            margin-top: 20px;
        }
        img:nth-child(1) {
            border-radius: clamp(3.75rem, 3.068rem + 3.41vw, 5.625rem);
            width: clamp(8.438rem, 5.278rem + 15.8vw, 17.125rem);
            height: clamp(13.75rem, 8.568rem + 25.91vw, 28rem);
            z-index: 1;
            left: clamp(0.438rem, 0.142rem + 1.48vw, 1.25rem);
        }
        img:nth-child(2) {
            width: clamp(5.938rem, 3.551rem + 11.93vw, 12.5rem);
            height: clamp(11.25rem, 7.795rem + 17.27vw, 20.75rem);
            top: clamp(2.5rem, 0.795rem + 8.52vw, 7.188rem);
            z-index: 2;
            left: clamp(7.5rem, 3.955rem + 17.73vw, 17.25rem);
        }
        img:nth-child(3) {
            width: clamp(6.25rem, 4.432rem + 9.09vw, 11.25rem);
            height: clamp(10.625rem, 7.42rem + 16.02vw, 19.438rem);
            z-index: 3;
            left: clamp(12.5rem, 8.182rem + 21.59vw, 24.375rem);
        }

        img:hover {
            transform: scale(1.1);
            transition: all 0.8s linear;
        }
    }
    .texttravel {
        width: clamp(23.438rem, 15.909rem + 32.12vw, 40rem);
        line-height: clamp(1.875rem, 1.534rem + 1.7vw, 2.813rem);
        text-align: left;
        @media screen and (max-width: 1139px) {
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
        }
        p:nth-child(1) {
            font-size: clamp(0.875rem, 0.807rem + 0.34vw, 1.063rem);
            color: #295943;
        }
        p:nth-child(2) {
            font-size: 17px;
            color: #3D3E48;
            font-size: clamp(1.188rem, 0.991rem + 0.98vw, 1.728rem);
        }
        p:nth-child(3) {
            font-size: clamp(0.875rem, 0.807rem + 0.34vw, 1.063rem);
            color: #3D3E48;
            right: 50px;
            // padding-right: 150px;
            line-height: 25px;
        }
        .xtal {
            margin-top: 45px;
            display: grid;
            grid-template-columns: 40% 40%;
            line-height: 32px;
            gap: 30px;
            p:nth-child(odd) {
                color: #295943;
                font-size: 27.65px;
            }
            p:nth-child(even) {
                color: #3D3E48;
                font-size: 16px;
            }
            .help {
            @media screen and (max-width: 853px) {
                line-height: 22px;
                padding-top: 9px;
            }
        }
        }
    }
}

.blocks {
    width: clamp(20rem, 2.857rem + 85.71vw, 80rem);
    @include flex;
    margin-top: 50px;
    .text:nth-child(1) {
        width: clamp(20rem, 2.857rem + 85.71vw, 80rem);
        text-align: center;
        p:nth-child(odd) {
            color: #295943;
            font-size: 16px;
        }
        p:nth-child(even) {
            color: #3D3E48;
            font-size: 27.65px;
        }
    }
    .cardlove {
        @include flex;
        gap: 20px;
        margin-top: 50px;
        div {
            cursor: pointer;
            width: clamp(18.75rem, 16.932rem + 9.09vw, 23.75rem);
            height: clamp(20rem, 19.023rem + 4.89vw, 22.688rem);
            background-color:  #fdf9f9;
            border-radius: 15px;
            display: grid;
            justify-content: center;
            img {
                border-radius: 20px;
                width: clamp(17.5rem, 15.227rem + 11.36vw, 23.75rem);

            }
            p {
                font-size: 19.2px;
                color: #3D3E48;
                padding-left: 12px;
                padding-right: 10px;
                font-weight: bold;
            }
            .rp {
                // background-color: blue;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 5px;
                img {
                    border-radius: 0px;
                    padding-right: 7px;
                    width: 18px;
                    height: 18px;
                }
                span:nth-child(1) {
                    font-size: 16px;
                }
                span:nth-child(2) {
                    font-size: 14px;
                    @include flex;
                    font-weight: normal;
                }
            }
        }
        div:hover {
            transform: scale(1.1);
            transition: all 0.3s linear;
            background-color:  #efe8e8;
        }
    }
    .text:nth-child(3) {
        width: clamp(20rem, 2.857rem + 85.71vw, 80rem);
        text-align: center;
        margin-top: 100px;
        p:nth-child(odd) {
            color: #295943;
            font-size: 16px;
        }
        p:nth-child(even) {
            color: #3D3E48;
            font-size: 27.65px;
        }
    }
    .blocksay {
        @include flex;
        gap: 20px;
        margin-top: 50px;
        padding-bottom: 10px;
        div {
            width: clamp(17.5rem, 15.227rem + 11.36vw, 23.75rem);
            height: 207px;
            background-color:  #fdf9f9;
            // border: 2px solid;
            @media screen and (max-width: 739px) {
                margin-top: 40px;
            }
            p:nth-child(1) {
                display: flex;
                align-items: center;
                padding-left: 10px;
                padding-top: 10px;
                span {
                    font-size: 23.04px;
                    font-weight: bold;
                    padding-left: 10px;
                    color: #3D3E48;
                }
            }
            p:nth-child(2) {
                padding-left: 10px;
                padding-top: 51px;
                padding-right: 15px;
                padding-bottom: 20px;
                font-size: 16px;
                line-height: 28.8px;
                color: #3D3E48;
                letter-spacing: 1px;
            }
        }
        div:hover {
            background-color: #43B97F;
            transform: scale(1.1);
            transition: all 0.2s linear;
            border-radius: 15px;
            p {
                color: #FFFFFF;
                span {
                    color: #FFFFFF;
                }
            }
        }
        
    }
}