.touch {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    display: flex;
    width: 1280px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    .amet {
        p:nth-child(1) {
            color: #3D3E48;
            font-size: 27.65px;
            font-weight: bold;
        }
        p:nth-child(2) {
            color: #3D3E48;
            font-size: 16px;
            line-height: 28.8px;
            margin-top: 20px;
        }
        input {
            border: 2px solid #A8A7AB;
            color: #A8A7AB;
            border-radius: 15px;
            padding-left: 29px;
        }
        .cite {
            width: 551px;
            height: 57px;
        }
        .message {
            width: 551px;
            height: 159px;
        }
        p:nth-child(3) {
            margin-top: 10px;
            line-height: 28.8px;
            color: #3D3E48;
        }
        p:nth-child(5) {
            margin-top: 10px;
            line-height: 28.8px;
            color: #3D3E48;
        }
        p:nth-child(7) {
            margin-top: 10px;
            line-height: 28.8px;
            color: #3D3E48;
        }
        button {
            margin-top: 15px;
            background-color: #43B97F;
            width: 81px;
            height: 39px;
            border-radius: 10px;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: bold;
            border: 3px solid;
            border-color: #43B97F;
        }
        button:hover {
            background-color: #55a17c;
            transform: scale(1.05);
            transition: all 0.3s linear;
        }
    }
}