.touch {
    margin-top: clamp(0.625rem, -1.42rem + 10.23vw, 6.25rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 1280px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    .amet {
        padding-left: 50px;
        width: clamp(18.75rem, 12.386rem + 31.82vw, 36.25rem);
        @media screen and (max-width: 1139px) {
            padding: 0;
            p:nth-child(1) {
                text-align: center;
            }
            p:nth-child(2) {
                text-align: center;
            }
          }
        p:nth-child(1) {
            color: #3D3E48;
            font-size: clamp(1.375rem, 1.247rem + 0.64vw, 1.728rem);
            font-weight: bold;
        }
        p:nth-child(2) {
            color: #3D3E48;
            font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
            line-height: clamp(1.125rem, 0.88rem + 1.23vw, 1.8rem);
            margin-top: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
        }
        input {
            border: 2px solid #A8A7AB;
            color: #A8A7AB;
            border-radius: 15px;
            padding-left: 29px;
        }
        .cite {
            width: clamp(16.875rem, 10.739rem + 30.68vw, 33.75rem);
            height: 57px;
        }
        .message {
            width: clamp(16.875rem, 10.739rem + 30.68vw, 33.75rem);
            height: 159px;
        }
        p:nth-child(3) {
            margin-top: 10px;
            line-height: 28.8px;
            color: #3D3E48;
        }
        p:nth-child(5) {
            margin-top: 10px;
            line-height: 28.8px;
            color: #3D3E48;
        }
        p:nth-child(7) {
            margin-top: 10px;
            line-height: 28.8px;
            color: #3D3E48;
        }
        button {
            margin-top: 15px;
            background-color: #43B97F;
            width: 81px;
            height: 39px;
            border-radius: 10px;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: bold;
            border: 3px solid;
            border-color: #43B97F;
        }
        button:hover {
            background-color: #55a17c;
            transform: scale(1.05);
            transition: all 0.3s linear;
        }
    }
    .maps {
        @media screen and (max-width: 1139px) {
            padding-left: 15px;
          }
        .mapa {
            iframe {
                width: clamp(18.75rem, 12.386rem + 31.82vw, 36.25rem);
                height: 300px;
                @media screen and (max-width: 1139px) {
                    width: clamp(18.75rem, 0.568rem + 90.91vw, 68.75rem);
                    height: clamp(11.25rem, 8.523rem + 13.64vw, 18.75rem);
                  }
            }
        }
        .contactinfo {
            div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                gap: 20px;
                margin-top: 20px;
                p {
                    display: flex;
                    justify-content: space-between;
                    width: 47%;
                    flex-wrap: wrap;
                    font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
                    line-height: clamp(0.75rem, 0.368rem + 1.91vw, 1.8rem);
                }
                p :nth-child(odd) {
                    color: black;
                }
                p :nth-child(even) {
                    color: #3D3E48;
                }
                @media screen and (max-width: 405px) {
                    justify-content: center;
                  }
            }
            p:nth-child(4) {
                margin-top: 20px;
                color: #3D3E48;
                font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
                line-height: 28.8px;
                @media screen and (max-width: 405px) {
                    text-align: center;
                  }
            }
            p:nth-child(5) {
                margin-top: 10px;
                color: #3D3E48;
                font-size: clamp(1.875rem, 0.993rem + 4.41vw, 4.3rem);
                line-height: 82.56px;
                @media screen and (max-width: 405px) {
                    text-align: center;
                  }
            }
            
        }

    }
}

