.discover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1180px;
    font-family: "Poppins", sans-serif;
    .top {
        display: flex;
        @media screen and (max-width: 960px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    .lorem {
        flex-wrap: wrap;
        display: flex;

        .d {
            font-size: clamp(1.875rem, 1.011rem + 4.32vw, 4.25rem);
            max-width: 80px;
            padding-top: 22px;
            padding-right: 30px;
            max-height: 60px;
            @media screen and (max-width: 960px) {
                display: none;
                }
        }
        .ipsum {
            font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
            line-height: clamp(1.063rem, 0.794rem + 1.34vw, 1.8rem);
            max-width: 790px;
            display: flex;
            @media screen and (max-width: 960px) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    .maps {
        iframe {
            width: clamp(20rem, 18.295rem + 7.27vw, 23.75rem);
            height: 213px;
        }
        @media screen and (max-width: 960px) {
            margin-top: 20px;
            iframe {
                width: clamp(17.5rem, 3.409rem + 70.45vw, 56.25rem);
                height: clamp(12.5rem, 10.227rem + 11.36vw, 18.75rem);
            }
        }
    }
  }


  .center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: clamp(0.313rem, -0.96rem + 6.36vw, 3.813rem);
  }
  .left {
    width: clamp(20rem, 6.932rem + 55.76vw, 48.75rem);
    @media screen and (max-width: 1139px) {
        margin-top: 30px;
        padding-left: 10px;
    }
    .natureone {
        width: clamp(18.75rem, 7.841rem + 54.55vw, 48.75rem);
        height: clamp(12.5rem, 9.688rem + 12vw, 18.688rem);
        background-image: url("../img/discover/nature_1.png");
        background-size: cover;
        border-radius: 15px;
        @media screen and (max-width: 960px) {
            width: clamp(18.75rem, 7.841rem + 54.55vw, 48.75rem);
        }
    }
    .memorable {
        margin-top: 20px;
        p:nth-child(1) {
            font-size: clamp(1.063rem, 0.76rem + 1.29vw, 1.728rem);
            line-height: clamp(0.938rem, 0.426rem + 2.18vw, 2.063rem);
            letter-spacing: 1.7px;
            color: #3D3E48;
            @media screen and (max-width: 960px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        p:nth-child(2) {
            color: #3D3E48;
            font-size: clamp(0.75rem, 0.636rem + 0.48vw, 1rem);
            line-height: clamp(0.938rem, 0.54rem + 1.7vw, 1.813rem);
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            img {
                padding-right: 5px;
            }
            @media screen and (max-width: 960px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        p:nth-child(3) {
            margin-top: 20px;
            font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
            color: black;
            line-height: clamp(0.938rem, 0.54rem + 1.7vw, 1.813rem);
            letter-spacing: 1px;
            @media screen and (max-width: 960px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        p:nth-child(4) {
            margin-top: 10px;
            font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
            color: black;
            line-height: clamp(0.938rem, 0.54rem + 1.7vw, 1.813rem);
            letter-spacing: 1px;
            @media screen and (max-width: 960px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .nature {
        display: flex;
        gap: clamp(0.313rem, -0.114rem + 1.82vw, 1.25rem);
        margin-top: 20px;
        div:nth-child(1) {
            width: clamp(10rem, 3.75rem + 26.67vw, 23.75rem);
            height: clamp(6.875rem, 1.96rem + 20.97vw, 17.688rem);
            background-color: black;
            background-image: url("../img/discover/nature_2.png");
            background-size: cover;
            border-radius: 20px;
        }
        div:nth-child(2) {
            width: clamp(10rem, 3.75rem + 26.67vw, 23.75rem);
            height: clamp(6.875rem, 1.96rem + 20.97vw, 17.688rem);
            background-color: black;
            background-image: url("../img/discover/nature_2.png");
            background-size: cover;
            border-radius: 20px;
        }
        @media screen and (max-width: 960px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    p:nth-child(4) {
        margin-top: 20px;
        font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
        color: black;
        line-height: clamp(0.938rem, 0.54rem + 1.7vw, 1.813rem);
        letter-spacing: 1px;
        @media screen and (max-width: 960px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
  }

  .right {
    width: clamp(20rem, 18.295rem + 7.27vw, 23.75rem);
    background-color: b;
    margin-left: 20px;
    @media screen and (max-width: 1139px) {
        margin-top: 40px;
        height: clamp(58.125rem, 53.241rem + 24.42vw, 70.625rem);
    }
    .grightcads {
        display: flex;
        flex-wrap: wrap;
        margin-top: 9px;
        gap: 20px;
        @media screen and (max-width: 1139px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    p:nth-child(1) {
        display: flex;
        justify-content: space-between;
        span:nth-child(1) {
            font-size: clamp(0.875rem, 0.719rem + 0.67vw, 1.194rem);
            color: #3D3E48;
            letter-spacing: 1px;
            @media screen and (max-width: 960px) {
                padding-left: 10px;
            }
        }
        span:nth-child(2) {
            font-size: clamp(0.875rem, 0.719rem + 0.67vw, 1.194rem);
            color:#43B97F;
            @media screen and (max-width: 960px) {
                padding-right: 30px;
            }
        }
    }
    div {
        width: clamp(18.75rem, 16.932rem + 9.09vw, 23.75rem);
        height: clamp(13.125rem, 12.102rem + 5.11vw, 15.938rem);
        background-image: url("../img/discover/right_bar.png");
        background-size: cover;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        p:nth-child(1) {
            color: white;
            font-size: clamp(0.875rem, 0.715rem + 0.68vw, 1.2rem);
            line-height: clamp(1.25rem, 0.803rem + 1.91vw, 2.16rem);
            font-weight: bold;
            letter-spacing: 1px;
            padding: 30px 2px 0px 10px;
        }
        p:nth-child(2) {
            color: white;
            font-size: clamp(0.625rem, 0.564rem + 0.26vw, 0.75rem);
            line-height: clamp(0.938rem, 0.735rem + 0.86vw, 1.35rem);
            font-weight: bold;
            letter-spacing: 1px;
            padding: 10px 2px 0px 10px;
        }
        button {
            background-color: #43B97F;
            width: clamp(6.25rem, 5.452rem + 3.4vw, 7.875rem);
            height: clamp(2.5rem, 2.224rem + 1.18vw, 3.063rem);
            border-radius: 15px;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: clamp(0.75rem, 0.627rem + 0.52vw, 1rem);
            font-weight: bold;
            border: 3px solid;
            border-color: #43B97F;
            margin-left: 10px;
            margin-top: 40px;
        }
        button:hover {
            transform: scale(1.01);
            transition: all 0.1s linear;
            border: 3px solid white;
            background-image: linear-gradient(
                to right,
                #0ba360,
                #3cba92,
                #30dd8a,
                #2bb673
              );
            animation: bn54rotate 0.5s ease-in-out both;
        }
    }

  }

}




  