<div class="about">
    <div class="booking">
        <p>Why Choose Us ?</p>
        <p>These popular destinations have a lot to offer</p>
        <div class="price">
            <div>
                <img src="./img/about_us/group.svg"/>
                <p>Best price guarantee</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div>
                <img src="./img/about_us/calendar.svg"/>
                <p>Easy Booking</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div>
                <img src="./img/about_us/ine.svg"/>
                <p>Customer Service 24h</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>
    </div>
</div>