<div class="about">
    <div class="booking">
        <p>Why Choose Us ?</p>
        <p>These popular destinations have a lot to offer</p>
        <div class="price">
            <div>
                <img src="./img/about_us/group.svg"/>
                <p>Best price guarantee</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div>
                <img src="./img/about_us/calendar.svg"/>
                <p>Easy Booking</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div>
                <img src="./img/about_us/ine.svg"/>
                <p>Customer Service 24h</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>
    </div>
    <div class="boxcom">
        <div>
            <p>About Travelaja.com</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dictum et in feugiat. 
                Platea in diam, est congue. Posuere sapien morbi augue ultrices. 
                Et facilisi orci sollicitudin placerat lacus lacus nibh. Egestas semper massa viverra massa proin in 
                morbi placerat. Pharetra nec, est non integer nisi, ut faucibus. Non, in nam sollicitudin 
                vitae volutpat ac molestie. Turpis pellentesque sit pellentesque id cras lobortis tortor, blandit.</p>
            <p>Id ac non, semper turpis maecenas. Convallis tempor fringilla quisque arcu, dictum. Vitae cursus vel netus 
                tincidunt vitae. Malesuada velit, at mattis adipiscing quisque tristique id magna. Blandit porta sit 
                nam magna sit. Turpis vestibulum facilisis placerat habitant gravida eget. Lacus pretium, arcu non 
                adipiscing sed faucibus semper eget tempor.</p>
        </div>
        <div>
            <img src="./img/about_us/city.png"/>
        </div>
    </div>
    <div class="ourteams">
        <p>Our Teams</p>
        <p>Lorem ipsum dolor sit amet</p>
        <div class="teamcard">
            <div>
                <img src="./img/about_us/avatar_1.png"/>
                <p>Agung perdana</p>
                <p>Web Designer</p>
            </div>
            <div>
                <img src="./img/about_us/avatar_2.png"/>
                <p>Viola Resti</p>
                <p>Marketing Director</p>
            </div>
            <div>
                <img src="./img/about_us/avatar_3.png"/>
                <p>Rahardianysah</p>
                <p>International Relations</p>
            </div>
            <div>
                <img src="./img/about_us/avatar_4.png"/>
                <p>Andika</p>
                <p>Medical Check</p>
            </div>
            <div>
                <img src="./img/about_us/avatar_5.png"/>
                <p>Theresa Russell</p>
                <p>Doctor Assistant</p>
            </div>
        </div>
    </div>
    <div class="tour">
        <div>
            <img src="./img/about_us/ship.svg"/>
            <p>TRAVEL</p>
        </div>
        <div>
            <img class="city" src="./img/about_us/tower.svg"/>
            <p>CITY TOUR</p>
        </div>
        <div>
            <img src="./img/about_us/island.svg"/>
            <p>ISLAND TOUR</p>
        </div>
        <div>
            <img src="./img/about_us/route.svg"/>
            <p>EXPLORE WORLD</p>
        </div>
    </div>
</div>