<div class="touch">
    <div class="amet">
        <p>Get in touch</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, 
            lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, 
            vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque 
            fermentum dui faucibus in ornare quam viverra</p>

            <p>Name :</p>
        <div class="cite">
            <input
            type="text"
            class="cite"
            placeholder="Input your name"/>
        </div>

            <p>Email :</p>
        <div class="cite">
            <input
            type="email"
            class="cite"
            placeholder="Email"/>
        </div>

            <p>Message :</p>
        <div class="message">
            <label for="story"></label>
            <textarea id="story" name="story"
            rows="5" cols="33">
            </textarea>
        </div>

        <a href="#"><button class="btn">Send</button></a>
    </div>
    <div class="maps">
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40509.749894331544!2d26.209148099290594!3d50.61115066838514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f6caa2d7c89d7%3A0x27481abdbc4e484!2z0KDQvtCy0L3Qviwg0KDQvtCy0LXQvdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1sru!2sua!4v1674050879292!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contactinfo">
            <div>
                <p><span>Address :</span><span>JL.Cindelaras No.205A</span></p>
                <p><span>Phone :</span><span>+62 1234 432 567</span></p>
            </div>

            <div>
                <p><span>City :</span><span>Yogyakarta, Indonesia</span></p>
                <p><span>Email :</span><span class="emails">info@travelaja.com</span></p>
            </div>

            <div>
                <p><span>Open :</span><span>At 8AM</span></p>
                <p><span>Close :</span><span>At 8PM</span></p>
            </div>
            <p>AVAILABLE AT 9AM - 10PM</p>
            <p>+124 4537 9756</p>
        </div>
    </div>
</div>