<div class="discover">
  <div class="top">

  <div class="lorem">
    <div class="ipsum">
      <div class="d">D</div>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, 
      lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel 
      fringilla est ullamcorper eget nulla facilisi.</span>
      </div>
      <div class="ipsum"><span>enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis 
        eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor 
        orci dapibus ultrices in iaculis nunc sed augue lacus, viverra vitae congue eu, consequat ac felis donec 
        et odio pellentesque diam volutpat commodo sed egestas egestas fringilla fau.</span></div>
  </div>

  <div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5062.926582885689!2d26.
    254825001918135!3d50.618509807142736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f134609e1331f%3A0x4b4b27390f364d81!2z0JrQvtC80L8n0Y7RgtC10YDQvdCwINCQ0LrQsNC00LXQvNGW0Y8g0KjQkNCT!5e0!3m2!1sru!2sua!4v1673790061871!5m2!1sru!2sua" 
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</div>

<div class="center">

<div class="left">
  <div class="natureone"></div>
  <div class="memorable">
    <p>Memorable festivals on bali beach</p>
    <p><img src="./img/icons/location.svg" />Bali, Indonesia</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer facilisis aliquet erat vitae 
      viverra ornare. Placerat urna integer nibh justo. Dictum vulputate odio mauris amet, dictumst molestie. 
      Faucibus consectetur mauris tristique dolor ut diam, adipiscing et. Semper mi proin malesuada orci phasellus. 
      Consectetur posuere iaculis amet sem. Euismod turpis pellentesque sit risus eu, sagittis nulla. 
      Facilisis urna, mi pharetra sed.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer facilisis aliquet erat vitae viverra ornare. 
      Placerat urna integer nibh justo. Dictum vulputate odio mauris amet, dictumst molestie. </p>
  </div>
  <div class="nature">
    <div></div>
    <div></div>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer facilisis aliquet erat vitae 
    viverra ornare. Placerat urna integer nibh justo. Dictum vulputate odio mauris amet, dictumst molestie. 
    Faucibus consectetur mauris tristique dolor ut diam, adipiscing et. Semper mi proin malesuada orci phasellus. 
    Consectetur posuere iaculis amet sem. Euismod turpis pellentesque sit risus eu, sagittis nulla. 
    Facilisis urna, mi pharetra sed.</p>
</div>

<div class="right">
  <p><span>Other Destinations</span><span>See all</span></p>
  <div class="grightcads">
     <div>
      <p>Wakatobi beach is a paradise for Coral reets in indonesia</p>
      <p>Yogyakarta, Indonesia</p>
        <a href="#"><button class="btn">View More</button></a>
     </div>
     <div>
      <p>Wakatobi beach is a paradise for Coral reets in indonesia</p>
      <p>Yogyakarta, Indonesia</p>
        <a href="#"><button class="btn">View More</button></a>
     </div>
     <div>
      <p>Wakatobi beach is a paradise for Coral reets in indonesia</p>
      <p>Yogyakarta, Indonesia</p>
        <a href="#"><button class="btn">View More</button></a>
     </div>
     <div>
      <p>Wakatobi beach is a paradise for Coral reets in indonesia</p>
      <p>Yogyakarta, Indonesia</p>
        <a href="#"><button class="btn">View More</button></a>
     </div>
  </div>
</div>

</div>
  <!-- <div class="space"></div> -->
  <div class="spaces"></div>
</div>