<div class="footer">
  <div class="info">
  <div class="travelaga">
    <p>travelaja</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, 
      purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor 
      rhoncus dolor purus non enim praesent elementum facilisis leo, vel</p>
  </div>
  <div>
    <ul>Links
      <li>Discover</li>
      <li>Special Deals</li>
      <li>Services</li>
      <li>Community</li>
      <li>About Us</li>
    </ul>
  </div>
  <div>
    <ul>Services
      <li>About Us</li>
      <li>Blog & Articles</li>
      <li>Term and Condition</li>
      <li>Privacy Policy</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div>
    <ul>Contact
      <li>Address: Jl.Codelaras No.205A</li>
      <li>Kediri, Pare AG17</li>
      <li>Phone: 123 456 7890</li>
      <li>Email: myagungperdana@gmail.com</li>
      <li>Maps: Kediri, East java</li>
    </ul>
  </div>
  </div>
  <div class="link">
    <p>Ikuti Kami</p>
    <p>
      <a href="https://www.instagram.com/"><img src="../img/icons/instagram.svg"/></a>
      <a href="https://uk-ua.facebook.com/"><img src="../img/icons/facebook.svg"/></a>
      <a href="https://twitter.com/"><img src="../img/icons/twiter.svg"/></a>
      <a href="https://www.youtube.com/watch?v=mh0E6LZhKUQ"><img src="../img/icons/boal.svg"/></a>
      <a href="https://github.com/"><img src="../img/icons/git.svg"/></a>
    </p>
  </div>
</div>