<div class="footer">
  <div class="info">
  <div class="travelaga">
    <p>travelaja</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, 
      purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor 
      rhoncus dolor purus non enim praesent elementum facilisis leo, vel</p>
  </div>
  <div>
    
    <ul>Links
      <li>Discover</li>
      <li>Special Deals</li>
      <li>Services</li>
      <li>Community</li>
      <li>About Us</li>
    </ul>
  </div>
  <div>
    <ul>Services
      <li>About Us</li>
      <li>Blog & Articles</li>
      <li>Term and Condition</li>
      <li>Privacy Policy</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div>
    <ul>Contact
      <li>Address: Jl.Codelaras No.205A</li>
      <li>Kediri, Pare AG17</li>
      <li>Phone: 123 456 7890</li>
      <li>Email: myagungperdana@gmail.com</li>
      <li>Maps: Kediri, East java</li>
    </ul>
  </div>
  </div>
  <div class="link">
    <p>Ikuti Kami</p>
    <p>
      <a href="https://www.instagram.com/"><img src="../img/icons/instagram.svg"/></a>
      <a href="https://uk-ua.facebook.com/"><img src="../img/icons/facebook.svg"/></a>
      <a href="https://twitter.com/"><img src="../img/icons/twiter.svg"/></a>
      <a href="https://www.youtube.com/watch?v=mh0E6LZhKUQ"><img src="../img/icons/boal.svg"/></a>
      <a href="https://github.com/"><img src="../img/icons/git.svg"/></a>
    </p>
  </div>



  <div class="footeradaptive">


    <div class="travelaga">
      <p>travelaja</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, 
        purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor 
        rhoncus dolor purus non enim praesent elementum facilisis leo, vel</p>
    </div>

    <div class="links">
      <p>Ikuti Kami</p>
      <p>
        <a href="https://www.instagram.com/"><img src="../img/icons/instagram.svg"/></a>
        <a href="https://uk-ua.facebook.com/"><img src="../img/icons/facebook.svg"/></a>
        <a href="https://twitter.com/"><img src="../img/icons/twiter.svg"/></a>
        <a href="https://www.youtube.com/watch?v=mh0E6LZhKUQ"><img src="../img/icons/boal.svg"/></a>
        <a href="https://github.com/"><img src="../img/icons/git.svg"/></a>
      </p>
    </div>

  <div class="dropdown">
    <button class="dropbtn">links<img src="./img/icons/Vector.svg" /></button>
    <div class="dropdown-content">
      <ul>
      <a href="#"><li>Discover</li></a>
      <a href="#"><li>Special Deals</li></a>
      <a href="#"><li>Services</li></a>
      <a href="#"><li>Community</li></a>
      <a href="#"><li>About Us</li></a>
      </ul>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Services <img src="./img/icons/Vector.svg" /></button>
    <div class="dropdown-content">
      <ul>
      <a href="#"><li>About Us</li></a>
      <a href="#"><li>Blog & Articles</li></a>
      <a href="#"><li>Term and Condition</li></a>
      <a href="#"><li>Privacy Policy</li></a>
      <a href="#"><li>Contact Us</li></a>
      </ul>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Contact <img src="./img/icons/Vector.svg" /></button>
    <div class="dropdown-content">
      <ul>
      <a href="#"><li>Address: Jl.Codelaras No.205A</li></a>
      <a href="#"><li>Kediri, Pare AG17</li></a>
      <a href="#"><li>Phone: 123 456 7890</li></a>
      <a href="#"><li>Email: myagungperdana@gmail.com</li></a>
      <a href="#"><li>Maps: Kediri, East java</li></a>
      </ul>
    </div>
  </div>
  <div class="link">
    <p>Ikuti Kami</p>
    <p>
      <a href="https://www.instagram.com/"><img src="../img/icons/instagram.svg"/></a>
      <a href="https://uk-ua.facebook.com/"><img src="../img/icons/facebook.svg"/></a>
      <a href="https://twitter.com/"><img src="../img/icons/twiter.svg"/></a>
      <a href="https://www.youtube.com/watch?v=mh0E6LZhKUQ"><img src="../img/icons/boal.svg"/></a>
      <a href="https://github.com/"><img src="../img/icons/git.svg"/></a>
    </p>
  </div>
</div>


</div>