<div class="travel">
    <div class="imgtravel">
        <img src="../img/home/travels_point/img1.png "/>
        <img src="../img/home/travels_point/img2.png "/>
        <img src="../img/home/travels_point/img3.png "/>
    </div>
    <div class="texttravel">
        <p>Travelers Point</p>
        <p>We help to find your dream place</p>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, 
            lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, 
            vel fringilla est ullamcorper eget nulla facilisi</span>

    </div>
</div>