<div class="travel">
    <div class="imgtravel">
        <img src="../img/home/travels_point/img1.png "/>
        <img src="../img/home/travels_point/img2.png "/>
        <img src="../img/home/travels_point/img3.png "/>
    </div>
    <div class="texttravel">
        <p>Travelers Point</p>
        <p>We help to find your dream place</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, 
            lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, 
            vel fringilla est ullamcorper eget nulla facilisi</p>
            <div class="xtal">
                <div>
                    <p>100+</p>
                    <p>Holiday Package</p>
                </div>
                <div>
                    <p>172</p>
                    <p>Hotels</p>
                </div>
                <div>
                    <p>68</p>
                    <p>Elite Transportation</p>
                </div>
                <div>
                    <p>32M+</p>
                    <p class="help">we help to find your dream place</p>
                </div>
            </div>
    </div>
</div>
<div class="blocks">
    <div class="text">
        <p>Top destination</p>
        <p>Discover your love</p>
    </div>
         <div class="cardlove">
            <div>
                <img src="../img/home/nature/1.png "/>
                <p>Taman Nasional Komodo</p>
                <p class="rp">
                    <span>Rp. 7,5jt</span>
                    <span><img src="../img/icons/plane.svg"/>7 days for trips</span>
                </p>
            </div>
            <div>
                <img src="../img/home/nature/2.png "/>
                <p>Taman Nasional Bunaken</p>
                <p class="rp">
                    <span>Rp. 10,5jt</span>
                    <span><img src="../img/icons/plane.svg"/>9 days for trips</span>
                </p>
            </div>
            <div>
                <img src="../img/home/nature/3.png "/>
                <p>Raja Ampat, Papua Barat</p>
                <p class="rp">
                    <span>Rp. 20,5jt</span>
                    <span><img src="../img/icons/plane.svg"/>14 days for trips</span>
                </p>
            </div>
            <div>
                <img src="../img/home/nature/4.png "/>
                <p>Kepulauan Wakatobi</p>
                <p class="rp">
                    <span>Rp. 9,5jt</span>
                    <span><img src="../img/icons/plane.svg"/>12 days for trips</span>
                </p>
            </div>
            <div>
                <img src="../img/home/nature/5.png "/>
                <p>Gili Trawangan, Lombok</p>
                <p class="rp">
                    <span>Rp. 6,5jt</span>
                    <span><img src="../img/icons/plane.svg"/>7 days for trips</span>
                </p>
            </div>
            <div>
                <img src="../img/home/nature/6.png "/>
                <p>Taman Nasional Bromo</p>
                <p class="rp">
                    <span>Rp. 9,5jt</span>
                    <span><img src="../img/icons/plane.svg"/>7 days for trips</span>
                </p>
            </div>
         </div>
         <div class="text">
            <p>Top destination</p>
            <p>Discover your love</p>
        </div>

        <div class="blocksay">
             <div>
                <p><img src="../img/home/people_icons/1.svg"/>
                    <span>Angelina Simple</span></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
             </div>
             <div>
                <p><img src="../img/home/people_icons/2.svg"/>
                    <span>Viola Natalie</span></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
             </div>
             <div>
                <p><img src="../img/home/people_icons/3.svg"/>
                    <span>Robert John K.</span></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
             </div>
             <div>
                <p><img src="../img/home/people_icons/4.svg"/>
                    <span>Anggi Nani</span></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
             </div>
             <div>
                <p><img src="../img/home/people_icons/5.svg"/>
                    <span>Graham Suryo J</span></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
             </div>
             <div>
                <p><img src="../img/home/people_icons/6.svg"/>
                    <span>Bagas G Natfi</span></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
             </div>
         </div>
         
</div>
<div class="space"></div>