<div class="news">
    <p class="arct">Travelaja Articles</p>
    <p class="arct">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</p>
    <ul>
        <li>
            <a href="#"><button class="btn">Adventure Travel</button></a>
        </li>
        <li>
            <a href="#"><button class="btn">Beach</button></a>
        </li>
        <li>
            <a href="#"><button class="btns">Explore World</button></a>
        </li>
        <li>
            <a href="#"><button class="btns">Family Holidays</button></a>
        </li>
        
        <li>
            <a href="#"><button class="btns">Art and culture</button></a>
        </li>
    </ul>
    <div class="newscard">
        <div>
            <img src="./img/news/nature_1.png" />
            <p>where can i go? 5 amazing countries that are open right now</p>
            <p>September 19, 2022</p>
        </div>
        <div>
            <img src="./img/news/nature_2.png" />
            <p>beautiful view of indonesia's natural hills</p>
            <p>September 19, 2022</p>
        </div>
        <div>
            <img src="./img/news/nature_3.png" />
            <p>10 Indonesian Destinations you should visit in this year</p>
            <p>September 19, 2022</p>
        </div>
        <div>
            <img src="./img/news/nature_4.png" />
            <p>5 mountains that you must visit while in Indonesia</p>
            <p>September 19, 2022</p>
        </div>
        <div>
            <img src="./img/news/nature_5.png" />
            <p>the most interesting historical monuments in Indonesia</p>
            <p>September 19, 2022</p>
        </div>
        <div>
            <img src="./img/news/nature_6.png" />
            <p>travel booking before missing the discount</p>
            <p>September 19, 2022</p>
        </div>
        <div>
            <img src="./img/news/nature_7.png" />
            <p>10 Indonesian Destinations you should visit in this year</p>
            <p>September 19, 2022</p>
        </div>
        <div>
            <img src="./img/news/nature_8.png" />
            <p>travel booking before missing the discount</p>
            <p>September 19, 2022</p>
        </div>
        <div>
            <img src="./img/news/nature_9.png" />
            <p>where can i go? 5 amazing countries that are open right now</p>
            <p>September 19, 2022</p>
        </div>
    </div>
</div>