<div class="service">
    <div class="box">
        <div>
            <img src="./img/icons/tags.svg"/>
            <p>Get Best Price</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras suscipit amet </span>
            <a href="#"><button class="btn">READ MORE</button></a>
        </div>
        <div>
            <img src="./img/icons/destination.svg"/>
            <p>All Destination</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras suscipit amet </span>
            <a href="#"><button class="btn">READ MORE</button></a>
        </div>
        <div>
            <img src="./img/icons/transit.svg"/>
            <p>City Tours</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras suscipit amet </span>
            <a href="#"><button class="btn">READ MORE</button></a>
        </div>
        <div>
            <img src="./img/icons/group.svg"/>
            <p>Photography</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras suscipit amet </span>
            <a href="#"><button class="btn">READ MORE</button></a>
        </div>
    </div>
    <div class="boxs">
        <div>
            <p>Water City Dreams</p>
            <p>September 18, 2022</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
            <a href="#"><button class="btn">READ MORE</button></a>
        </div>
        <div>
            <p>Water City Dreams</p>
            <p>September 18, 2022</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
            <a href="#"><button class="btn">READ MORE</button></a>
        </div>
        <div>
            <p>Water City Dreams</p>
            <p>September 18, 2022</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
            <a href="#"><button class="btn">READ MORE</button></a>
        </div>
    </div>
    <div class="facilities">
        <div class="dolor">
            <p>Facilities</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, 
                lectus magna fringilla urna, porttitor rhoncus dolor purus non enim luctus venenatis, 
                lectus magna fringilla urna, porttitor rhoncus dolor purus non eni</p>
            <a href="#"><button class="btn">READ MORE</button></a>
        </div>
        <div class="buggy">
            <div>
                <img src="./img/icons/baby.svg" />
                <p>Baby</p>
                <p>FREE BUGGY</p>
            </div>
            <div>
                <img src="./img/icons/filled.svg" />
                <p>Drinks</p>
                <p>INCLUDED</p>
            </div>
            <div>
                <img src="./img/icons/camp.svg" />
                <p>Camp</p>
                <p>INCLUDED</p>
            </div>
            <div>
                <img src="./img/icons/map.svg" />
                <p>World</p>
                <p>CUSTOM TOURS</p>
            </div>
        </div>
    </div>
    <div class="benefits">
        <p>BENEFITS</p>
        <p>OUR SERVICE</p>
        <div class="more">
            <div>
                 <div class="imgtp"><img src="./img/icons/hiking.svg" /></div>
                 <div class="tpcontent">
                    <p>Hiking</p>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
                    <a href="#"><button class="btn">READ MORE</button></a>
                 </div>
            </div>
            <div>
                 <div class="imgtp"><img src="./img/icons/rollerskates.svg" /></div>
                 <div class="tpcontent">
                    <p>Staking</p>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
                    <a href="#"><button class="btn">READ MORE</button></a>
                 </div>
            </div>
            <div>
                 <div class="imgtp"><img src="./img/icons/climbing.svg" /></div>
                                  <div class="tpcontent">
                    <p>Climbing</p>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
                    <a href="#"><button class="btn">READ MORE</button></a>
                 </div>
            </div>
            <div>
                 <div class="imgtp"><img src="./img/icons/yourtraveldottv.svg" /></div>
                                  <div class="tpcontent">
                    <p>Tours</p>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
                    <a href="#"><button class="btn">READ MORE</button></a>
                 </div>
            </div>
            <div>
                 <div class="imgtp"><img src="./img/icons/mask.svg" /></div>
                                  <div class="tpcontent">
                    <p>Diving</p>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
                    <a href="#"><button class="btn">READ MORE</button></a>
                 </div>
            </div>
            <div>
                <div class="imgtp"><img src="./img/icons/fly.svg" /></div>
                                 <div class="tpcontent">
                    <p>Flying</p>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
                    <a href="#"><button class="btn">READ MORE</button></a>
                 </div>
            </div>
        </div>
    </div>
</div>
<div class="spaces"></div>